*{
    margin: 0;
    padding: 0;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: rgb(50, 48, 48);
    color: white;
    overflow: hidden;
    overflow-y: scroll;

}